@media (min-width: 37.5em) {
  #menu {
    display: none;
  }

  .navigation {
    flex-direction: row;
    justify-content: flex-end;
  }

  .navigation a {
    display: block;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
